<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-external-browser" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ExternalBrowser</name>
    <js-module name="ExternalBrowser" src="www/ExternalBrowser.js">
        <clobbers target="window.plugins.ExternalBrowser" />
    </js-module>
    
    <engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=8.0.0"/>
        <engine name="cordova-ios" version=">=6.0.0"/>
    </engines>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ExternalBrowser">
                <param name="android-package" value="com.external.browser.ExternalBrowser" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/ExternalBrowser.java" target-dir="src/com/external/browser/" />
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ExternalBrowser">
                <param name="ios-package" value="ExternalBrowser" />
            </feature>
        </config-file>

        <header-file src="src/ios/ExternalBrowser.h" />
        <source-file src="src/ios/ExternalBrowser.m" />
    </platform>

</plugin>